//breakpoints
$desktop-width: 1280px; //stylsheet: 1280 or greater
$tablet-width: 768px; //stylesheet: 768-1279
$mobile-width: 320px; //per stylesheet 320-767px -- this is the default



 //colors
 $YTRed: #FF0000;