@use './partials/variables' as *;
@use './partials/mixins' as *;

*, 
::before, 
::after{
    margin: 0;
    padding:0;
}

body{
    font-family: "Noto Sans Regular", arial, sans-serif;
}

.header{
        background-image: url(../assets/marble\ notebook.svg);
        background-size: cover 75%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    &__nav{
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: black;
        color: white;
        
    }

    &__instructions-link{
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-align: center;
        
        background-color: rgb(246, 224, 116);
        margin: 1rem;
        height: 3rem;
        width: 8rem;
        // margin: 1rem;
    }
    &__logo{
        margin: 2rem;       
    }
    &__stop-resume{
        margin: 2rem;
        height: 3rem;
        width: 8rem;
        background-color: $YTRed;
        font-weight: bold;
        font-size: 1rem;        
    }
}

.top {
    background-image: url(../assets/journals/pexels-karolina-grabowska-8947463.jpg);
    background-size: 75%;
    background-position: center;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;
    height: 75vh;
    font-family: "Indie Flower", Arial, sans-serif;
    line-height: 1.90rem;
    
    &__visualizer{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0 .5rem;
        border: 2px solid red;
        right: 3vw;
        height: 95%;
        width: 2vw;

        // width: 2rem;
        // height: 16rem;
    }

    &__flame-candle{
        display: flex;
        flex-direction: column;
        position: absolute;
        // width: 2rem;
        // height: 16rem;
        height: 90%
    }
    &__flame{
        height: 2.5rem;
    }
    &__candle{
        background-color: rgb(226, 227, 222); //rgb(62, 44, 44);
        width: 90%;
        height: 100%;
        // width: 2rem;
        // height: 16rem;
        border-radius: 30% 30% 0% 0%;
        justify-self: center;        
    }
    &__notepad-section{
        // background-color: whitesmoke;
        height: 85%;
        width: 35%;
        margin: 0 auto;
        justify-self: center;
        transform: rotate(3.75deg);
        translate: (5% 10%);  
        border: 2px orange dashed;
    }
    

    &__input-container{
        color: white;
        background-color: black;

    }
    &__list-item{
            list-style-type: none;
            }
    
}

.main{
    &__catpic{
            height: 25rem;
    }
}

